{% extends 'base.html' %}


{% block content %}

<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow" style="width: 40rem; background-color: #e5eef7;">
                <div class="card-body">

                    <h2>Upload a file for {{ project.name }}</h2>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            {{ form.file }}
                            <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">Upload</button>
                        </div>
                    </form>
                        
                    <a class="btn btn-secondary" href="{% url 'projects:projects-update' project.pk %}">Back to Edit Project</a>

                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

{% endblock %}