{% extends 'base.html' %}


{% block content %}

<form action='.' method='POST'>
    {% csrf_token %}
    
    <label for="id_name"> {{ form.name.label_tag }} </label>
    {{ form.name }} {{ form.name.errors }}

    <label for="id_description">{{ form.description.label_tag }}</label>
    {{ form.description }} {{ form.description.errors }}

    <label for="id_time_frame_for_completion">{{ form.time_frame_for_completion.label_tag }}</label>
    {{ form.time_frame_for_completion }} {{ form.time_frame_for_completion.errors }}

    <label for="id_status">{{ form.status.label_tag }}</label>
    {{ form.status }} {{ form.status.errors }}

    <h3>Assign Team Leads</h3>
    <label for="id_team_leads"> {{ form.team_leads.label_tag }}</label>
    <div id="team_leads_container">
        {{ form.team_leads }} {{ form.team_leads.errors }}
    </div>

    <h3>Assign Team Members</h3>
    <label for="id_team_members">{{ form.team_members.label_tag }}</label>
    <div id="team_members_container">
        {{ form.team_members }} {{ form.team_members.errors }}
    </div>

    <input type='submit' value='Save' />

</form>

<a href="{% url 'projects:projects-list' %}">Project List</a>


<script>
    const teamLeadsContainer = document.getElementById('team_leads_container');
    const teamMembersContainer = document.getElementById('team_members_container');

    function updateOptions() {
        const selectedLeads = Array.from(teamLeadsContainer.querySelectorAll('input[type="checkbox"]:checked')).map(input => input.value);
        const selectedMembers = Array.from(teamMembersContainer.querySelectorAll('input[type="checkbox"]:checked')).map(input => input.value);

        Array.from(teamMembersContainer.querySelectorAll('input[type="checkbox"]')).forEach(input => {
            input.disabled = selectedLeads.includes(input.value);
        });

        Array.from(teamLeadsContainer.querySelectorAll('input[type="checkbox"]')).forEach(input => {
            input.disabled = selectedMembers.includes(input.value);
        });
    }

    teamLeadsContainer.addEventListener('change', updateOptions);
    teamMembersContainer.addEventListener('change', updateOptions);

    updateOptions();
</script>

{% endblock %}