{% extends 'base.html' %}

{% block content %}

<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow" style="width: 40rem; background-color: #e5eef7;">
                <div class="card-body">
                    <form action='.' method='POST'>
                        {% csrf_token %}
                        <br>
                        <h2>UPDATE PROJECT</h2>
                        <div class="form-floating mb-3">
                            {{ form.name }}
                            <label for="id_name">{{ form.name.label }}</label>
                        
                            {% if form.name.errors %}
                                <div class="invalid-feedback">
                                    {{ form.name.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.description }}
                            <label for="id_description">{{ form.description.label }}</label>
                        
                            {% if form.description.errors %}
                                <div class="invalid-feedback">
                                    {{ form.description.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-5">
                            <div class="form-floating mb-3">
                                {{ form.time_frame_for_completion }}
                                <label for="time_frame_for_completion">{{ form.time_frame_for_completion.label }}</label>
                            
                                {% if form.time_frame_for_completion.errors %}
                                    <div class="invalid-feedback">
                                        {{ form.time_frame_for_completion.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <div class="col-auto">
                                <label for="id_status" class="col-form-label"><b>{{ form.status.label }}</b></label>
                            </div>
                            <div class="col">
                                {{ form.status }}
                                {% if form.status.errors %}
                                    <div class="invalid-feedback">
                                        {{ form.status.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center">
                            <h3>Team Structure</h3>
                            <div class="col-auto">
                                <label for="id_team_leads"><b>{{ form.team_leads.label_tag }}</b></label>
                                <div id="team_leads_container">
                                    {{ form.team_leads }} {{ form.team_leads.errors }}
                                </div>
                            </div>
                            <div class="col">
                                <label for="id_team_members"><b>{{ form.team_members.label_tag }}</b></label>
                                <div id="team_members_container">
                                    {{ form.team_members }} {{ form.team_members.errors }}
                                </div>
                            </div>
                        </div>
                        <input class="btn btn-primary" type='submit' value='Save Changes' />
                    </form>
                    <br>
                    <h3>Uploaded Files:</h3>
                    <ul>
                        {% for file in file_uploads %}
                            <li>
                                <a href="{{ file.file.url }}">{{ file.file.name }}</a>
                                <form action="{% url 'projects:file_upload_delete' file.pk %}" method="POST" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="button" class="delete-button btn btn-danger" data-file-id="{{ file.pk }}">Delete</button>
                                    <input type="hidden" name="confirm" value="0">
                                </form>
                            </li>
                        {% empty %}
                            <li>No files uploaded yet.</li>
                        {% endfor %}
                    </ul>
                    <a class="btn btn-secondary" href="{% url 'projects:upload_file' project.pk %}">Upload Files</a>
                    <a class="btn btn-secondary" href="{% url 'projects:projects-list' %}">Back to Project List</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

<script>

document.addEventListener('DOMContentLoaded', function() {
        const deleteButtons = document.querySelectorAll('.delete-button');

        deleteButtons.forEach(button => {
            button.addEventListener('click', function() {
                if (this.textContent === 'Delete') {
                this.textContent = 'Are you sure?';
                this.classList.remove('btn-danger');
                this.classList.add('btn-dark');
            } else {
                    this.closest('form').submit();
                }

                deleteButtons.forEach(btn => {
                    if (btn !== this && btn.textContent === 'Are you sure?') {
                        btn.textContent = 'Delete';
                        btn.classList.remove('btn-dark');
                    btn.classList.add('btn-danger');
                    }
                });
            });
        });

        document.addEventListener('click', function(event) {
            deleteButtons.forEach(button => {
                if (button.textContent === 'Are you sure?' && !button.contains(event.target)) {
                    button.textContent = 'Delete';
                    button.classList.remove('btn-dark');
                    button.classList.add('btn-danger');
                }
            });
        });
    });
    
    const teamLeadsContainer = document.getElementById('team_leads_container');
    const teamMembersContainer = document.getElementById('team_members_container');

    function updateOptions() {
        const selectedLeads = Array.from(teamLeadsContainer.querySelectorAll('input[type="checkbox"]:checked')).map(input => input.value);
        const selectedMembers = Array.from(teamMembersContainer.querySelectorAll('input[type="checkbox"]:checked')).map(input => input.value);

        Array.from(teamMembersContainer.querySelectorAll('input[type="checkbox"]')).forEach(input => {
            input.disabled = selectedLeads.includes(input.value);
        });

        Array.from(teamLeadsContainer.querySelectorAll('input[type="checkbox"]')).forEach(input => {
            input.disabled = selectedMembers.includes(input.value);
        });
    }

    teamLeadsContainer.addEventListener('change', updateOptions);
    teamMembersContainer.addEventListener('change', updateOptions);

    updateOptions();
</script>


{% endblock %}