<nav class="navbar bg-primary navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if request.user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'projects:projects-list' %}">Projects</a>
                  </li>
              {% endif %}
              {% if request.user.is_authenticated and request.user.permissions == 'admin' %}
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'users:user-list' %}">Users</a>
                  </li>
              {% endif %}
          </ul>
          <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                  </a>
                  <ul class="dropdown-menu">
                      {% if user.is_authenticated %}
                          <li>
                            <a href="#" class="dropdown-item" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
                            <form id="logout-form" method="POST" action="{% url 'users:logout' %}" style="display:none;">
                                {% csrf_token %}
                            </form>
                        </li>
                          <li><a class="dropdown-item" href="{% url 'users:user-update' request.user.pk %}">Profile</a></li>
                      {% else %}
                          <li><a class="dropdown-item" href="{% url 'users:login' %}">Login</a></li>
                          <li><a class="dropdown-item" href="{% url 'users:signup' %}">Sign Up</a></li>
                      {% endif %}
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>
